@import url('http://fonts.googleapis.com/css?family=Roboto:300');

@font-face {
    font-family: leagueGothic;
    src: url('LeagueGothic/LeagueGothic-Regular.otf');
}

@font-face {
    font-family: NewsGoth Cn BT;
    src: url('newsgoth-cn-bt.ttf');
}