#head {
  /*background: rgba(0, 0, 0, 0.4);*/
  background-image: url("img/top_car.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

h1 {
  text-align: center;
  font-size: 64pt;
}


.half-page > div {
  padding-bottom: 40px;
  height: 100%;
}

#head > div {
  background: rgba(35, 31, 32, 0.4);
  height: 100%;
}

#front-on {
  background-image: url("img/front_on_car.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

#front-on > div {
  background: -webkit-linear-gradient(left, rgba(255,255,255,1),rgba(255,255,255,0),rgba(255,255,255,0));
  background: -o-linear-gradient(left, rgba(255,255,255,1),rgba(255,255,255,0),rgba(255,255,255,0));
  background: -moz-webkit-linear-gradient(left, rgba(255,255,255,1),rgba(255,255,255,0),rgba(255,255,255,0));
  background: linear-gradient(left, rgba(255,255,255,1),rgba(255,255,255,0),rgba(255,255,255,0));
  height: 300px;
}

#who h1, #why h1 {
  color: #ffe000;
}

#who {
  background: #201c19;
  color: white;
  background-image: url("img/unsw.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

#who > div {
  background: rgba(32,28,25,0.8);
}

#what {
  background-image: url("img/car_front.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

#what > div {
  background: rgba(255,255,255,0.8);
}

#why {
  background: #24262e;
  color: white;
  background-image: url("img/car_logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

#why > div {
  background: rgba(36,38,47,0.8);
}

@media only screen and (min-width: 64.063em) {
  #who > div {
    background: -webkit-linear-gradient(left, rgba(32,28,25,1), rgba(32,28,25,1), rgba(32,28,25,0));  
    background: -o-linear-gradient(left, rgba(32,28,25,1), rgba(32,28,25,1), rgba(32,28,25,0));  
    background: -moz-linear-gradient(left, rgba(32,28,25,1), rgba(32,28,25,1), rgba(32,28,25,0));  
    background: linear-gradient(left, rgba(32,28,25,1), rgba(32,28,25,1), rgba(32,28,25,0));  
  }

  #what > div {
    background: -webkit-linear-gradient(left, rgba(255,255,255,0),rgba(255,255,255,0.96),rgba(255,255,255,1));
    background: -o-linear-gradient(left, rgba(255,255,255,0),rgba(255,255,255,0.96),rgba(255,255,255,1));
    background: -moz-linear-gradient(left, rgba(255,255,255,0),rgba(255,255,255,0.96),rgba(255,255,255,1));
    background: linear-gradient(left, rgba(255,255,255,0),rgba(255,255,255,0.96),rgba(255,255,255,1));
  }

  #why {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right center;
  }

  #why > div {
    background: -webkit-linear-gradient(left, rgba(36,38,47,1),rgba(36,38,47,0.96),rgba(36,38,47,0));
    background: -o-linear-gradient(left, rgba(36,38,47,1),rgba(36,38,47,0.96),rgba(36,38,47,0));
    background: -moz-linear-gradient(left, rgba(36,38,47,1),rgba(36,38,47,0.96),rgba(36,38,47,0));
    background: linear-gradient(left, rgba(36,38,47,1),rgba(36,38,47,0.96),rgba(36,38,47,0));
  }
}

.other {
  padding-top: 30px;
}

.down {
  left: calc(50% - 175px);
  width: 350px;
  bottom: 5%;
  position: absolute;
}

.down h1 {
  color: #ffe000;
  font-size: 36pt;
  opacity: 0.4;
}

.down img {
  margin-left: 125px;
  opacity: 0.4;
}
.down img:hover {
  opacity: 1;
}
